# Build
.build/
Build/
DerivedData/

# macOS
.DS_Store
*.swp
*.swo
*~

# Xcode
*.xcworkspace
xcuserdata/

# Certificates & keys
*.p12
*.key
*.csr
*.cer
*_base64*
*.p8

# Packaged app
*.app
*.dmg
app.zip
